<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Welcome to Connect Me!</h1>
        <p>Your future awaits...</p>
<img src= '/images/Pic1.jpg' width="90%">


<%- include('bootfooter') -%>
